.header{
  background-color: #1C4587;
  color: white;
  text-align: center;
  border: 1px solid black;
}
.paragraph{
  margin-right: 200px;
  padding: 0px 10px;
}
.paragraph h2{
  text-align: center;
}
.sidebar{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 100px;
}
.topbar{
  background-color: #D0E1F2;
  overflow: hidden;
  margin-top: 50px;
}
.footer{
  background-color: #1C4587;
  overflow: hidden;
  border: 1px solid black;
  height: 100px;
}
.image{
  height: 100px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
